<!--<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">-->
<!--  &lt;!&ndash;begin::Toolbar container&ndash;&gt;-->
<!--  <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">-->
<!--    &lt;!&ndash;begin::Page title&ndash;&gt;-->
<!--    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">-->
<!--      &lt;!&ndash;begin::Title&ndash;&gt;-->
<!--      <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Products</h1>-->
<!--      &lt;!&ndash;end::Title&ndash;&gt;-->
<!--      &lt;!&ndash;begin::Breadcrumb&ndash;&gt;-->
<!--      <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">-->
<!--        &lt;!&ndash;begin::Item&ndash;&gt;-->
<!--        <li class="breadcrumb-item text-muted">-->
<!--          <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>-->
<!--        </li>-->
<!--        &lt;!&ndash;end::Item&ndash;&gt;-->
<!--        &lt;!&ndash;begin::Item&ndash;&gt;-->
<!--        <li class="breadcrumb-item">-->
<!--          <span class="bullet bg-gray-400 w-5px h-2px"></span>-->
<!--        </li>-->
<!--        &lt;!&ndash;end::Item&ndash;&gt;-->
<!--        &lt;!&ndash;begin::Item&ndash;&gt;-->
<!--        <li class="breadcrumb-item text-muted">eCommerce</li>-->
<!--        &lt;!&ndash;end::Item&ndash;&gt;-->
<!--        &lt;!&ndash;begin::Item&ndash;&gt;-->
<!--        <li class="breadcrumb-item">-->
<!--          <span class="bullet bg-gray-400 w-5px h-2px"></span>-->
<!--        </li>-->
<!--        &lt;!&ndash;end::Item&ndash;&gt;-->
<!--        &lt;!&ndash;begin::Item&ndash;&gt;-->
<!--        <li class="breadcrumb-item text-muted">Catalog</li>-->
<!--        &lt;!&ndash;end::Item&ndash;&gt;-->
<!--      </ul>-->
<!--      &lt;!&ndash;end::Breadcrumb&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash;end::Page title&ndash;&gt;-->
<!--    &lt;!&ndash;begin::Actions&ndash;&gt;-->
<!--    &lt;!&ndash;end::Actions&ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Toolbar container&ndash;&gt;-->
<!--</div>-->
